.button {
  --background: #362a89;
  --text: #fff;
  --cart: #fff;
  --tick: var(--background);
  position: relative;
  border: none;
  background: none;
  padding: 8px 28px;
  border-radius: 8px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  min-width: 144px;
  color: var(--text);
  background: var(--background);
  -webkit-transform: scale(var(--scale, 1));
          transform: scale(var(--scale, 1));
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
  transition: -webkit-transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
  transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
  transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27), -webkit-transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
}

.button:active {
  --scale: 0.95;
}

.button span {
  font-size: 14px;
  font-weight: 500;
  display: block;
  position: relative;
  padding-left: 24px;
  margin-left: -8px;
  line-height: 26px;
  -webkit-transform: translateY(var(--span-y, 0));
          transform: translateY(var(--span-y, 0));
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.button span:before, .button span:after {
  content: "";
  width: var(--w, 2px);
  height: var(--h, 14px);
  border-radius: 1px;
  position: absolute;
  left: var(--l, 8px);
  top: var(--t, 6px);
  background: currentColor;
  -webkit-transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
          transform: scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
  -webkit-transition: -webkit-transform 0.65s ease 0.05s;
  transition: -webkit-transform 0.65s ease 0.05s;
  transition: transform 0.65s ease 0.05s;
  transition: transform 0.65s ease 0.05s, -webkit-transform 0.65s ease 0.05s;
}

.button span:after {
  --w: 14px;
  --h: 2px;
  --l: 2px;
  --t: 12px;
}

.button .cart {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -18px;
  -webkit-transform-origin: 12px 23px;
          transform-origin: 12px 23px;
  -webkit-transform: translateX(-120px) rotate(-18deg);
          transform: translateX(-120px) rotate(-18deg);
}

.button .cart:before, .button .cart:after {
  content: "";
  position: absolute;
}

.button .cart:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 2px var(--cart);
          box-shadow: inset 0 0 0 2px var(--cart);
  bottom: 0;
  left: 9px;
  -webkit-filter: drop-shadow(11px 0 0 var(--cart));
          filter: drop-shadow(11px 0 0 var(--cart));
}

.button .cart:after {
  width: 16px;
  height: 9px;
  background: var(--cart);
  left: 9px;
  bottom: 7px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
          transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
  -webkit-transition: -webkit-transform 1.2s ease var(--fill-d);
  transition: -webkit-transform 1.2s ease var(--fill-d);
  transition: transform 1.2s ease var(--fill-d);
  transition: transform 1.2s ease var(--fill-d), -webkit-transform 1.2s ease var(--fill-d);
}

.button .cart svg {
  z-index: 1;
  width: 36px;
  height: 26px;
  display: block;
  position: relative;
  fill: none;
  stroke: var(--cart);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.button .cart svg polyline:last-child {
  stroke: var(--tick);
  stroke-dasharray: 10px;
  stroke-dashoffset: var(--offset, 10px);
  -webkit-transition: stroke-dashoffset 0.4s ease var(--offset-d);
  transition: stroke-dashoffset 0.4s ease var(--offset-d);
}

.button.loading {
  --scale: 0.95;
  --span-y: -32px;
  --icon-r: 180deg;
  --fill: 1;
  --fill-d: 0.8s;
  --offset: 0;
  --offset-d: 1.73s;
}

.button.loading .cart {
  -webkit-animation: cart 3.4s linear forwards 0.2s;
          animation: cart 3.4s linear forwards 0.2s;
}

@-webkit-keyframes cart {
  12.5% {
    -webkit-transform: translateX(-60px) rotate(-18deg);
            transform: translateX(-60px) rotate(-18deg);
  }
  25%,
  45%,
  55%,
  75% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  44%,
  56% {
    -webkit-transform-origin: 12px 23px;
            transform-origin: 12px 23px;
  }
  45%,
  55% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  87.5% {
    -webkit-transform: translateX(70px) rotate(-18deg);
            transform: translateX(70px) rotate(-18deg);
  }
  100% {
    -webkit-transform: translateX(140px) rotate(-18deg);
            transform: translateX(140px) rotate(-18deg);
  }
}

@keyframes cart {
  12.5% {
    -webkit-transform: translateX(-60px) rotate(-18deg);
            transform: translateX(-60px) rotate(-18deg);
  }
  25%,
  45%,
  55%,
  75% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  44%,
  56% {
    -webkit-transform-origin: 12px 23px;
            transform-origin: 12px 23px;
  }
  45%,
  55% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  87.5% {
    -webkit-transform: translateX(70px) rotate(-18deg);
            transform: translateX(70px) rotate(-18deg);
  }
  100% {
    -webkit-transform: translateX(140px) rotate(-18deg);
            transform: translateX(140px) rotate(-18deg);
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Inter UI", "Inter", Arial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eceffc;
}

body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

body .dribbble img {
  display: block;
  height: 28px;
}

body .twitter {
  position: fixed;
  display: block;
  right: 64px;
  bottom: 14px;
}

body .twitter svg {
  width: 32px;
  height: 32px;
  fill: #1da1f2;
}
/*# sourceMappingURL=GMWebsiteSCSS.css.map */