* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
  color: #009688;
}
a{
  color: white;
  border-radius: 3px;
}


/* TRANSITION AUF ANDERE SEITE */
.animate-in {
  -webkit-animation: fadeIn .4s ease-in;
  animation: fadeIn .4s ease-in;
}

.animate-out {
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



/* NAVIGATIONBAR OBEN */
#topNav {
 
  background: rgb(48, 48, 48);
  height: 150px;
  text-align: center;
  word-spacing: 60px;
  font-size: 17pt;
  color: #fff;
}
.navBar1 {
  display: flex;
  align-items: center;
  padding: 20px;
}
.nav1 {
  flex: 1;
  text-align: center;
  
}
.nav1 .ul1 {
  display: inline-block;
  list-style-type: none;
}
.nav1 .ul1 .li1 {
  display: inline-block;
  text-align: center;
}




/* TRANSITION AUF ANDERE SEITE */
.animate-in {
  -webkit-animation: fadeIn .4s ease-in;
  animation: fadeIn .4s ease-in;
}

.animate-out {
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



/* NAVIGATIONBAR OBEN */
#topNav {
 
  background: rgb(48, 48, 48);
  height: 170px;
  text-align: center;
  word-spacing: 60px;
  font-size: 17pt;
  color: #fff;
}
.navBar1 {
  display: flex;
  align-items: center;
  padding: 20px;
}
.nav1 {
  flex: 1;
  text-align: center;
  
}
.nav1 .ul1 {
  display: inline-block;
  list-style-type: none;
}
.nav1 .ul1 .li1 {
  top: 80px;
  display: inline-block;
  text-align: center;
}

.korb {
  display: flex;
  position: absolute;
  right: auto;
  top: 40px;
  left: 20px;
}
#korb {
  display: flex;
  position: absolute;
  right: auto;
  top: 100px;
  left: 28px;
}



/* RECHTES AUFKLAPPMENÜ */
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  font-size: 17pt;
  right: -250px;
  top: 0;
  background: rgb(48, 48, 48);
  z-index: 2;
  transition: 0.5s;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}




/* RECHTES AUFKLAPPMENÜ BUTTON */
#menuBtn {
  width: 50px;
  height: 50px;
  background: #009688;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 50px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}
#menu{
  margin-top: 18px;
  align-items: center;
  color: white;
}

@media screen and (max-width: 770px) {
  .banner-text h1 {
    font-size: 44px;
  }

  .banner-btn a {
    display: block;
    margin: 20px auto;
  }


  .bildUndText p{
    font-size: 18pt;
    padding-top: 25px;
    padding-bottom: 120px; 
  }

  .bildUndText img{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 80px;
  } 


}

.imgclass {
  background-size: 100%;
}





.bildUndText p{
  text-align: center;
  align-items: center;
  padding-left: 30%;
  padding-right: 30%;
  font-size: 18pt;
  padding-top: 25px;
  padding-bottom: 120px;
}
.bildUndText img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 80px;
}


/*------BODY-------*/
.description {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.description img{
  text-align: right;
  margin-left: 30px;
}
.description p{
  text-align: center;
  font-size: 14pt;
  padding-left: 5%;
  padding-right: 5%;
}


.her{
  width: 80%;
  margin-left: 140px;
}




/*------FOOOTER-------*/
#footer{
  padding: 100px 0 20px;
  background: rgb(48, 48, 48);
  position: relative;
}
.footer-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-left,.footer-right{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}
.footer-right{
  text-align: right;
}
.footer-row h1{
  margin: 10px 0;
  color: #fff;
}
.footer-row p{
  line-height: 35px;
  color: #fff;
}
.footer-left .far,.footer-right .fa{
  font-size: 20px;
  color: #009688;
  margin: 10px;
  
}
.footer-img{
  max-width: 450px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  z-index: 4;
}


/* BILDER RUND ANIMATION */

.container
{
  top: 80px;
	position: relative;
  margin-bottom: 300px;
	width: 1300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container .box
{
	position: relative;
	width: 500px;
	height: 400px;
	margin-top: 50px;
  margin-bottom: 50px;
	box-sizing: border-box;
	overflow: hidden;
}
.container .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.container .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;
}
.container .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container .box .content
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.container .box .content h2
{
	margin: 0;
	padding: 0;
}
.container .box .content a
{
	text-decoration: none;
	background: #000;
	color: #fff;
	padding: 5px;
	display: inline-block;
}
.container .box .content h2,
.container .box .content p,
.container .box .content a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container .box:hover .content h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s
}
.container .box:hover .content p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}
.container .box:hover .content a
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s
}





/* SOCIAL_LINKS IM FOOTER */
.footer-img{
  width: 100%;
}
.social-links{
  text-align: center;
}
.social-links .fab{
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #009687;
  margin: 40px 5px 0;
  color: #ffffff;
  cursor: pointer;
  transition: .5s;
  border-radius: 5px;
}
.social-links .fab:hover{
  background: #009687b0;
  color: #fff;
  transform: translateY(-7px);
}
.social-links p{
  font-size: 12px;
  margin-top: 20px;
  color: #fff;
}
.container {
  width: 100%;
}
@media screen and (max-width: 770px) {
  .footer-left,
  .footer-right {
    flex-basis: 100%;
    font-size: 14px;
  }
  #topNav{
    height: 130px;
  }
  .footer-img {
    visibility: hidden;
    display: none;
   }
   .korb {
     display: flex;
     position: absolute;
     right: auto;
     top: 50px;
     left: 240px;
   }
   #korb {
     display: flex;
     position: absolute;
     right: auto;
     top: 55px;
     left: 27px;
   }
 
   .nav1 .ul1 .li1 {
     visibility: hidden;
     display: none;
   }
   #menuBtn {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 40px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
  }
}
/* BILDSCHIRM KLEINER ALS 600 */
@media only screen and (max-width: 600px){
  .bildUndText p {
    margin-top: 10px;
  }
  .bildUndText img{
    left: auto;
  }
} 