* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.aAnders{
	color: white;
}

.back{
	font-size: larger;
	text-decoration: underline;
	text-align: left;
	margin-left: 0px;


	
}
.forward{
	margin-top: -28px;
	font-size: larger;
	text-decoration: underline;	
	margin-right: 0;
	text-align: right;
}


/* --------- NAVMENU -------- */
.navBar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-8 {
  flex-basis: 50%;
  min-width: 300px;
  min-height: 700px;
}
.col-8 img {
  max-width: 100%;
  padding: 50px 0;

}
.col-8 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
  margin-top: 70px;
}
.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background-color: #009688;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating .fas {
  color: #ff523b;
}
.rating .far {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-5px);
}




/* --------- EINKAUFBUTTON -------- */



button {
	background-color: #009688;
	color: black;
	border: none;
	padding: 0 20px;
	line-height: 50px;
	border-radius: 10px;
	-webkit-box-shadow: -2px 3px 0px #d4d4d4;
	box-shadow: -2px 3px 0px #d4d4d4;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition-property: line-height;
	-o-transition-property: line-height;
	transition-property: line-height;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

button:focus {
	outline: 0;
}

.tapis-roulant {
	position: relative;
	background-color: gray;
	line-height: 0px;
}

.tapis-roulant span {
	opacity: 0;
}

.tapis-roulant > div:nth-child(2) {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	border-radius: 20px;
	z-index: 2;
	background-color: gray;
}

.tapis-roulant > div:nth-child(2) > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 20px;
	width: 200%;
	border-radius: 30px;
	-webkit-animation-name: roule;
	animation-name: roule;
	-webkit-animation-duration: 6s;
	animation-duration: 6s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.tapis-roulant i {
	height: 100%;
	width: 2px;
	background-color: #656565;
	display: inline-block;
	-webkit-transform: skew(52deg, 20deg);
	-ms-transform: skew(52deg, 20deg);
	transform: skew(52deg, 20deg);
	margin: 0 2%;
}

/* caisse */
.tapis-roulant > div:nth-child(3) {
	position: absolute;
	left: 55%;
	width: 35px;
	height: 0;
	background-color: #000000;
	z-index: 1;
	bottom: 0;
	-webkit-animation-name: caisse;
	animation-name: caisse;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-delay: 0.05s;
	animation-delay: 0.05s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	overflow: hidden;
	border: 2px solid #a0a0a0;
}

.tapis-roulant > div:nth-child(3) > div:first-child {
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 75%;
	background-image: -o-linear-gradient(
		81deg,
		rgba(84, 84, 84, 0),
		hsl(0deg 0% 56% / 61%) 70%
	);
	background-image: linear-gradient(
		9deg,
		rgba(84, 84, 84, 0),
		hsl(0deg 0% 56% / 61%) 70%
	);
	top: 0;
}

.tapis-roulant > div:nth-child(3) > div:nth-child(2) {
	background: red;
	width: 1px;
	height: 1px;
	position: absolute;
	left: 50%;
	top: 46%;
	-webkit-box-shadow: -4px 16px 20px 12px red;
	box-shadow: -4px 16px 20px 12px red;
	z-index: 6;
	border-radius: 100%;
}

.tapis-roulant > div:nth-child(4) {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 34px;
	overflow: hidden;
}

.tapis-roulant > div:nth-child(4) > div:first-child {
	position: absolute;
	width: 29px;
	height: 100%;
	background: #009688;
	-webkit-box-shadow: 0 2px 0 0px rgb(0 0 0 / 25%),
		inset 0 1px 0 0 rgb(255 255 255 / 20%);
	box-shadow: 0 2px 0 0px rgb(0 0 0 / 25%),
		inset 0 1px 0 0 rgb(255 255 255 / 20%);
	z-index: 9;
	-webkit-animation-name: objet;
	animation-name: objet;
	-webkit-animation-duration: 3.8s;
	animation-duration: 3.8s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	left: -10px;
	bottom: 3px;
}

.tapis-roulant > div:nth-child(4) > div:first-child:after {
	content: "";
	width: 100%;
	height: 70%;
	background: rgba(0, 0, 0, 0.12);
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.tapis-roulant > div:nth-child(4) > div:first-child > div:first-child {
	width: 3px;
	height: 3px;
	background: #37353a;
	position: absolute;
	border-radius: 50%;
	left: 5px;
	top: 8px;
}

.tapis-roulant > div:nth-child(4) > div:first-child > div:first-child:after {
	content: "";
	width: 3px;
	height: 3px;
	background: #37353a;
	position: absolute;
	border-radius: 50%;
	left: 16px;
}

.tapis-roulant > div:nth-child(4) > div:first-child > div:nth-child(2) {
	width: 10px;
	height: 10px;
	position: absolute;
	border-style: solid;
	border-width: 3px;
	border-color: transparent #fff #fff #fff;
	border-radius: 0 0 50% 50%;
	left: 7px;
	top: 8px;
	z-index: 10;
	-webkit-box-shadow: 0 4px 0 0px rgb(0 0 0 / 20%);
	box-shadow: 0 4px 0 0px rgb(0 0 0 / 20%);
	-webkit-transition: height 0.5s, -webkit-transform 0.5s;
	transition: height 0.5s, -webkit-transform 0.5s;
	-o-transition: transform 0.5s, height 0.5s;
	transition: transform 0.5s, height 0.5s;
	transition: transform 0.5s, height 0.5s, -webkit-transform 0.5s;
}

button > div:nth-child(5) {
	position: absolute;
	top: -40px;
	right: 10px;
	color: #009688;
	display: none;
	font-size: 12px;
	z-index: 9;
}

.tapis-roulant.added > div:nth-child(5) {
	display: block;
	-webkit-animation-name: fadeOutTop;
	animation-name: fadeOutTop;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	opacity: 0;
}

button > div:nth-child(6) {
	position: absolute;
	top: -50px;
	left: 10px;
	display: none;
	color: red;
}

.tapis-roulant.canceled > div:nth-child(6) {
	display: block;
	-webkit-animation-name: scaleZoomOutTop;
	animation-name: scaleZoomOutTop;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	opacity: 0;
}

.container {
	position: relative;
	height: 60px;
	margin: auto;
	line-height: 60px;
}

@-webkit-keyframes roule {
	from {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	to {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@keyframes roule {
	from {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	to {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@-webkit-keyframes objet {
	from {
		left: -10px;
	}

	to {
		left: 200px;
	}
}

@keyframes objet {
	from {
		left: -10px;
	}

	to {
		left: 200px;
	}
}

@-webkit-keyframes caisse {
	from {
		height: 0;
	}

	to {
		height: 22px;
	}
}

@keyframes caisse {
	from {
		height: 0;
	}

	to {
		height: 22px;
	}
}

@-webkit-keyframes fadeOutTop {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}

@keyframes fadeOutTop {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}

.scaleZoomOutTop {
	-webkit-animation-name: scaleZoomOutTop;
	animation-name: scaleZoomOutTop;
}

@-webkit-keyframes scaleZoomOutTop {
	30%,
	50% {
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}

	60% {
		opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}
}

@keyframes scaleZoomOutTop {
	30%,
	50% {
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}

	60% {
		opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
	}
}

.caddie {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 17px;
	vertical-align: -6px;
	margin-right: 10px;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-o-transition-property: transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.tapis-roulant .caddie {
	height: 0;
	line-height: 0;
	overflow: hidden;
	font-size: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.caddie__body {
	width: 92%;
	height: 60%;
	background: #edefff;
	-webkit-transform: skew(-6deg);
	-ms-transform: skew(-6deg);
	transform: skew(-6deg);
	position: absolute;
	top: 0;
	right: 0px;
	border-radius: 2px;
	border: 1px solid black;
	border-left: none;
}

.caddie__body-left {
	position: absolute;
	background-color: #ced5ff;
	left: -1%;
	top: 1%;
	width: 84%;
	height: 60%;
	border-left: 1px solid black;
	border-radius: 2px;
	border-top-left-radius: 8%;
	border-top: 1px solid black;
	border-top-right-radius: 0;
}

.caddie__top {
	position: absolute;
	top: -23%;
	left: -2.5%;
	width: 2px;
	height: 27%;
	-webkit-transform: skew(19deg);
	-ms-transform: skew(19deg);
	transform: skew(19deg);
	background-color: black;
}

.caddie__top-support {
	position: absolute;
	top: -30%;
	left: -12.5%;
	background-color: #757575;
	width: 4px;
	height: 2px;
	border-radius: 10px;
	z-index: 2;
}

.caddie__trou {
	width: 17px;
	height: 1px;
	background-color: #7f8dd8;
	border-radius: 10px;
	position: absolute;
	top: 4px;
	left: 7%;
	z-index: 9;
}

.caddie__trou2 {
	width: 11px;
	height: 1px;
	background-color: #7f8dd8;
	border-radius: 10px;
	position: absolute;
	top: 9px;
	left: 18%;
	z-index: 9;
}

.caddie__trou3 {
	width: 11px;
	height: 1px;
	background-color: #7f8dd8;
	border-radius: 10px;
	position: absolute;
	top: 6px;
	left: 18%;
	z-index: 9;
}

.caddie__roue {
	position: absolute;
	bottom: -1px;
	left: 2px;
	width: 3px;
	height: 3px;
	background-color: #808080;
	border-radius: 100%;
	border: 1px solid black;
}

.caddie__roue2 {
	position: absolute;
	bottom: -1px;
	left: 11px;
	width: 3px;
	height: 3px;
	background-color: #808080;
	border-radius: 100%;
	border: 1px solid black;
}








/*----------- OFFER -----------*/
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
}
small {
  color: #555;
}
.testimonial{
  padding-top: 100px;
}
.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgb(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.fas .fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}




/*-----------BRANDS--------------*/
.brands{
  margin: 100px auto;
}
.col-5{
  width: 160px;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter: grayscale(0);
}




/*-----------FOOTER--------------*/
.footer{
  background:  #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}


/*--------------- all products page ----------*/
.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
select{
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus{
  outline: none;
}


/*---------- 1,2,3,4 --> WEITER BUTTON ------------*/
.page-btn{
  margin: 0 auto 80px;
}
.page-btn span{
  display: inline-block;
  border: 1px solid #009688;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

/*----------- HOVER ROT TEXT WEIß ----------*/
.page-btn span:hover{
  background: #009688;
  color: white;
}


/*------------MEDIA QUERY FOR MENU----------*/
.single-product{
  margin-top: 1px;
}

.single-product .col-8 img{
  padding: 0;
}
/*--------- ÜBERSCHRIFT + AUSWAHL -------- */
.single-product .col-8{
  padding: 20px;
}

.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
/* --------- DIE 4 KLEINEN BILDER --------- */
.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus{
  outline: none;
}
/*-------- BILDER UNTERM PRODUKTBILD ------*/
.single-product .fa{
  color: #009688;
  margin-left: 10px;
}

.small-img-row{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;

}

/*---------- CART ITEMS ----------*/
.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #ff523b;
  font-size: 12px;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}



/*--------- TOTAL PRICE ----------*/
.total-price{
  display: flex;
  justify-content: flex-end;

}
.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 450px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}








/*----------MEDIA QUERY FOR MENU----------*/
@media only screen and (max-width: 800px) {
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}

/*-------- BILDSCHIRM KLEINER ALS 600 -------*/
@media only screen and (max-width: 600px){
  .row{
    text-align: center;
  }
  .col-8, .col-3, .col-4{
    flex-basis: 100%;
  }
  .single-product .row{
    text-align: left;
  }
  .single-product .col-8{
    padding: 20px 0;
  }
  .single-product h1{
    font-size: 26px;
    line-height: 32px;
  }

  .cart-info p{
    display: none;
  }





}