* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: white;
}
a:hover {
  text-decoration: none;
  color: #009688;
}

.container{
  margin-top: 40px;
  margin-bottom: 200px;
}
#btnSenden{
  border-radius: 20px;
  align-items: center;
  background-color: #009687;
  transition: .5s;
}


/* TRANSITION AUF ANDERE SEITE */
.animate-in {
  -webkit-animation: fadeIn .4s ease-in;
  animation: fadeIn .4s ease-in;
}

.animate-out {
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



/* NAVIGATIONBAR OBEN */
#topNav {
 
  background: rgb(48, 48, 48);
  height: 170px;
  text-align: center;
  word-spacing: 60px;
  font-size: 17pt;
  color: #fff;
}
.navBar1 {
  display: flex;
  align-items: center;
  padding: 20px;
}
.nav1 {
  flex: 1;
  text-align: center;
  
}
.nav1 .ul1 {
  display: inline-block;
  list-style-type: none;
}
.nav1 .ul1 .li1 {
  top: 80px;
  display: inline-block;
  text-align: center;
}

.korb {
  display: flex;
  position: absolute;
  right: auto;
  top: 40px;
  left: 20px;
}
#korb {
  display: flex;
  color: white;
  position: absolute;
  right: auto;
  top: 100px;
  left: 28px;
}



/* RECHTES AUFKLAPPMENÜ */
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  font-size: 17pt;
  right: -250px;
  top: 0;
  background: rgb(48, 48, 48);
  z-index: 2;
  transition: 0.5s;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}




/* RECHTES AUFKLAPPMENÜ BUTTON */
#menuBtn {
  width: 50px;
  height: 50px;
  background: #009688;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 50px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}
#menu{
  margin-top: 18px;
  align-items: center;
  color: white;
}

@media screen and (max-width: 770px) {
  .banner-text h1 {
    font-size: 94px;
  }

  .banner-btn a {
    display: block;
    margin: 20px auto;
  }

}

.imgclass {
  background-size: 100%;
}





/* RECHTES AUFKLAPPMENÜ BUTTON */
#menuBtn {
  width: 50px;
  height: 50px;
  background: #009688;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 40px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}
#menuBtn img {
  width: 30px;
  margin-top: 15px;
}
@media screen and (max-width: 770px) {
  .banner-text h1 {
    font-size: 44px;
  }

  .banner-btn a {
    display: block;
    margin: 20px auto;
  }
}

.imgclass {
  background-size: 100%;
}



.bildUndText p{
  text-align: center;
  align-items: center;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 18pt;
  padding-top: 25px;
  padding-bottom: 120px;
}
.bildUndText img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 80px;
}



/*------FOOOTER-------*/
#footer{
  padding: 100px 0 20px;
  background: rgb(48, 48, 48);
  position: relative;
}
.footer-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-left,.footer-right{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}
.footer-right{
  text-align: right;
}
.footer-row h1{
  margin: 10px 0;
  color: #fff;
}
.footer-row p{
  line-height: 35px;
  color: #fff;
}
.footer-left .far,.footer-right .fa{
  font-size: 20px;
  color: #009688;
  margin: 10px;
}
.footer-img{
  max-width: 450px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  z-index: 4;
}



/* SOCIAL_LINKS IM FOOTER */
.social-links{
  text-align: center;
}
.social-links .fab{
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #009687;
  margin: 40px 5px 0;
  color: #ffffff;
  cursor: pointer;
  transition: .5s;
  border-radius: 5px;
}
.social-links .fab:hover{
  background: #009687b0;
  color: #fff;
  transform: translateY(-7px);
}
.social-links p{
  font-size: 12px;
  margin-top: 20px;
  color: #fff;
}
.container {
  width: 100%;
}
@media screen and (max-width: 770px) {
  .footer-left,
  .footer-right {
    flex-basis: 100%;
    font-size: 14px;
  }
  #topNav{
    height: 130px;
  }
  .footer-img {
    visibility: hidden;
    display: none;
   }
   .korb {
     display: flex;
     position: absolute;
     right: auto;
     top: 50px;
     left: 240px;
   }
   #korb {
     display: flex;
     position: absolute;
     right: auto;
     top: 55px;
     left: 27px;
   }
 
   .nav1 .ul1 .li1 {
     visibility: hidden;
     display: none;
   }
   #menuBtn {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 40px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
  }
}
