* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a{
  color: white;
}

a:hover {
  text-decoration: none;
  color: #009688;
}

.bilderWarenkorb{
  width: 100px;
  height: 100px;
}

/*---------- CART ITEMS ----------*/
.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 20px;
  color: #fff;
  background: #009688;
  font-weight: normal;
}

td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #009688;
  font-size: 12px;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #009688;
  width: 100%;
  max-width: 450px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}







/*-------- TRANSITION AUF ANDERE SEITE ---------*/
.animate-in {
  -webkit-animation: fadeIn .4s ease-in;
  animation: fadeIn .4s ease-in;
}

.animate-out {
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



/*------ NAVIGATIONBAR OBEN ------*/
#topNav {
 
  background: rgb(48, 48, 48);
  height: 170px;
  text-align: center;
  word-spacing: 60px;
  font-size: 17pt;
  color: #fff;
}
.navBar1 {
  display: flex;
  align-items: center;
  padding: 20px;
}
.nav1 {
  flex: 1;
  text-align: center;
  
}
.nav1 .ul1 {
  display: inline-block;
  list-style-type: none;
}
.nav1 .ul1 .li1 {
  top: 80px;
  display: inline-block;
  text-align: center;
}

.korb {
  display: flex;
  position: absolute;
  right: auto;
  top: 40px;
  left: 20px;
}
#korb {
  display: flex;
  position: absolute;
  right: auto;
  top: 100px;
  left: 28px;
}



/*------- RECHTES AUFKLAPPMENÜ -----*/
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  font-size: 17pt;
  right: -250px;
  top: 0;
  background: rgb(48, 48, 48);
  z-index: 2;
  transition: 0.5s;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}




/*------- RECHTES AUFKLAPPMENÜ BUTTON ------*/
#menuBtn {
  width: 50px;
  height: 50px;
  background: #009688;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 50px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}
#menu{
  margin-top: 18px;
  align-items: center;
  color: white;
}

@media screen and (max-width: 770px) {
  .banner-text h1 {
    font-size: 44px;
  }

  .banner-btn a {
    display: block;
    margin: 20px auto;
  }

}

.imgclass {
  background-size: 100%;
}




/*---------- BILDER-KARUSELL -------*/
.carousel-inner img {
  width: 100%;
  height: 800px;
  margin-top: 0px;
  z-index: 0;
}



/*-------- GOURMETBOXLOGO ------*/
.logo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 250px;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1;
}

/*------- EINKAUFBUTTON --------*/
.center {
  top: 100px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 24px;
}

.btn-1,
.btn-2 {
  top: 400px;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Created by http://grohit.com/  */
footer a,
.btn-1 a,
.btn-2 a {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}

/* Button 1 styles */

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before,
.btn-2 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}
/* Created by http://grohit.com/  */

.btn-1 a:hover::after,
.btn-2 a:hover::after {
  transform: scaleX(0);
}

/* Button 2 styles */

.btn-2 a {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.btn-2 a:hover {
  color: #000000;
  transition: all 0.5s ease-in-out;
}

.btn-2 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-2 a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}






/*-------- PRODUKTBILDER -------*/

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header .row {
  margin-top: 70px;
}
.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-top: 150px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 100px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  align-items: center;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.col-4 h4 {
  align-items: center;
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title2{
  margin-top: 80px;
}
.title2::after {
  content: "";
  background-color: #ffffff;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.title::after {
  content: "";
  background-color: #009688;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  text-align: center;
  align-items: center;
  font-size: 14px;
}
.rating{
  text-align: center;
  align-items: center;
}
.rating .fas {
  text-align: center;
  align-items: center;
  color: #ff523b;
}
.rating .far {
  text-align: center;
  align-items: center;
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-5px);
}

/*---------- TESTIMONIAL ----------*/
.testimonial{
  background-color: #009688;
  opacity: 0.9;

}
.testimonial .col-3{ 
  opacity: 3;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgb(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img{

  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.fas .fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: black;
}
.testimonial .col-3 h3{
  font-weight: 600;
  color: black;
  font-size: 16px;
  margin-top: 25px;
}



/*----------- FOOOTER ---------------*/
#footer{
  padding: 100px 0 20px;
  background: rgb(48, 48, 48);
  position: relative;
}
.footer-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-left,.footer-right{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
  z-index: 4;
}
.footer-right{
  text-align: right;
}
.footer-row h1{
  margin: 10px 0;
  color: #fff;
}
.footer-row p{
  line-height: 35px;
  color: #fff;
}
.footer-left .far,.footer-right .fa{
  font-size: 20px;
  color: #009688;
  margin: 10px;
  z-index: 3;
}
.footer-img{
  max-width: 450px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  z-index: 0;
}



/*------- SOCIAL_LINKS IM FOOTER ----------*/
.social-links{
  text-align: center;
}
.social-links .fab{
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #009687;
  margin: 40px 5px 0;
  color: #ffffff;
  cursor: pointer;
  transition: .5s;
  border-radius: 5px;
}
.social-links .fab:hover{
  background: #009687b0;
  color: #fff;
  transform: translateY(-7px);
}
.social-links p{
  font-size: 12px;
  margin-top: 20px;
  color: #fff;
}
.container {
  width: 100%;
}






@media screen and (max-width: 770px) {
  .footer-left,
  .footer-right {
    flex-basis: 100%;
    font-size: 14px;
  }
  #topNav{
    height: 130px;
  }
  .footer-img {
    visibility: hidden;
    display: none;
   }
   .korb {
     display: flex;
     position: absolute;
     right: auto;
     top: 50px;
     left: 240px;
   }
   #korb {
     display: flex;
     position: absolute;
     right: auto;
     top: 55px;
     left: 27px;
   }
 
   .nav1 .ul1 .li1 {
     visibility: hidden;
     display: none;
   }
   #essenImg{
     margin-left: 2px;
     top: 10px;
    width: 250px;
    margin-top: 10px;
    position: relative;
    justify-content: center;
    height: auto;
   }
   #essenIm{
     margin-top: 0px;
     margin-left: 2px;

     width: 250px;
   }
   #menuBtn {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 40px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
  }
  .logoGroeße{
    width: 350px;
    height: 200px;
  }
  .logo {
    padding-top: 50px;
    position:absolute;
    z-index: 1;
  }
  .btn-2{
    padding-top: 0px;
    padding-bottom: 300px;
    width: 300px;
    height: 20px;
  }
  .carousel-inner img {
    width: 100%;
    height: 600px;
    margin-top: 0px;
    z-index: 0;
  }
}

#essenIm{
  padding-top: 50px;
}

#essenImg {
  top: 400px;
  margin: auto;
  position:absolute;
  display: flex;
  align-items: center;
}

/*--------- ZUSÄTZLICHER QUERY FÜR DAS PAY IMAGE -------*/
@media screen and (max-width: 1000px) {
  .footer-left,
  .footer-right {
    flex-basis: 100%;
    font-size: 14px;
  }
  .footer-img {
    top: 25%;
    width: auto;
    height: auto;
    z-index: -2;
    visibility: hidden;
  }
}
#essenImg {
  top: 210px;
  padding-left: 33%;
  position:absolute;
  display: flex;
  align-items: center;
}


/*---------------MEDIA QUERY FOR MENU----------*/
@media only screen and (max-width: 800px) {
  nav ul{
    position: absolute;
    top: 10px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    font-size: 13pt;
    word-spacing: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}


/*---------------MEDIA QUERY FOR MENU----------*/
@media only screen and (max-width: 1300px) {

  
  nav ul{
    position: absolute;
    top: 10px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    font-size: 14pt;
    word-spacing: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}




 
  
