* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*---------- ACCOUNT PAGE ----------*/

.account-page{
  padding-top: 110px;
  padding-bottom: 110px;
  background: radial-gradient(#fff, #009688);
}
.form-container{
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 40px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0,0,0.1);
  overflow: hidden;
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #009688;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}

#loginForm{
  left: -300px;
}
#RegForm{
  left: 0;
}
.form a{
  font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

/*------- BILDSCHIRM KLEINER ALS 800 -------*/
@media only screen and (max-width: 800px){

.footer-imgAcc{
  width: 0px;
}


.account-page{
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 80px;
  padding-bottom: 100px;
  background: radial-gradient(#fff, #009688);
}
}


.footer-imgAcc{
  justify-content: center;
  max-width: 450px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  z-index: 0;
}


@media screen and (max-width: 770px) {


 .account-page{
   top: 20px;
 }
  .footer-left,
  .footer-right {
    flex-basis: 100%;
    font-size: 14px;
  }
  #topNav{
    height: 130px;
  }
  .footer-img {
    visibility: hidden;
    display: none;
   }
   .korb {
     display: flex;
     position: absolute;
     right: auto;
     top: 50px;
     left: 240px;
   }
   #korb {
     display: flex;
     position: absolute;
     right: auto;
     top: 55px;
     left: 27px;
   }
 
   .nav1 .ul1 .li1 {
     visibility: hidden;
     display: none;
   }
   #menuBtn {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 40px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
  }
  .logoGroeße{
    width: 350px;
    height: 200px;
  }
  .logo {
    padding-top: 50px;
    position:absolute;
    z-index: 1;
  }
  .btn-2{
    padding-top: 0px;
    padding-bottom: 300px;
    width: 300px;
    height: 20px;
  }
  .carousel-inner img {
    width: 100%;
    height: 600px;
    margin-top: 0px;
    z-index: 0;
  }
}