*{

    box-sizing: border-box;

}

html,
body{
    background-color: #f4f4f4;
}

#email{
    margin-bottom: 30px;
}

#name{
    margin-bottom: 30px;
}

#subject{
    margin-bottom: 30px;
}


.form-container {
    position: relative;
    left: 25%;
    width: 60%;
    height: 100vh;
    background-color: #ffffff;
}

.contact-form {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: 600px;
}


.ha2{
    margin-bottom: 60px;
}


input,
textarea{
    margin-left: 8%;
    width: 80%;
    margin-top: 2rem;
    border: none;
    border-bottom: 1px solid black;
}

.submit {
    border: 1px solid black;
    padding: 1rem;
    text-align: center;
    background-color: #009688;
    cursor: pointer;
}

.submit:hover{
    opacity: 0.6;
}

