<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Birds!!!</title>
  </head>
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <body>


    <div id="app" >
      <div style="margin-bottom: 50px;">
      <h1 class="ha1">Endangered Birds</h1>
      <button @click="showBirds" class="btnBirds">Get Birds!</button>
      </div>


      <div style="margin-top: 50px; margin-left: 140px;justify-content: center;justify-items: center; display: inline-block; text-align: center; padding: 10px; border: 1px solid black; width: 300px;" v-for="bird in birds"> 
        <img style="width: 280px; height:200px;" :src="bird.pic" alt=""> 
        <div style="display: block; justify-content: center; text-align: center;"> {{ bird.commonName }}</div> 
        <p>ID: {{ bird.id }}</p> 
        <p>Found By: {{ bird.attributes[0].author }}</p> 
        <p>Status: {{ bird.commonwealthStatus }}</p></div>

</div>

      <div style="margin-bottom: 100px;"></div>
    
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
