<!DOCTYPE html>
<html>
<head>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



    <script>


        //wenn du hier die lokale IP (statt localhost) setzt, kannst du von anderen Geräten aus drauf zugreifen
        const ws = new WebSocket('ws://10.51.201.187:8080')
        ws.onopen = function () {
            console.log('websocket is connected ...')
            ws.send(JSON.stringify({
                room: '',
                message: 'connected'
            }))
        }

        ws.onmessage = function (ev) {
            console.log(ev)
            addTextMessage(JSON.parse(ev.data));
        }


        function sendMyMessage(){
            ws.send(JSON.stringify({
                room: document.getElementById("room").value,
                message: document.getElementById("text").value
            }))
        }


        function join(room){
            ws.send(JSON.stringify({
                joinRoom: document.getElementById("room").value
            }))
        }

        function addTextMessage(message){
           
            const tag = document.createElement("P")
            tag.innerHTML = message.message
            document.getElementById("messages").appendChild(tag)
            
        }

    </script>
</head>
<body style="background-color: #009688;" >

<div class="container">
    <h1 style="color: white;" >Chat</h1>
    <div id="messages"></div>
    <input style="border: 6px;" id="text" type="text">
    <button style="border: 6px;" onClick="window.sendMyMessage()" type="button">Send Message</button> 
    <input style="border: 6px;" id="room" type="text" placeholder="enter your desired room">
    <button style="border: 6px;"  onClick="window.join()" type="button">Join room</button> 
</div>








</body>
</html>
