
.ha1{
    color: darkcyan;
    display: flex;
    justify-items: center;
    margin-top: 100px;
    justify-content: center;
}

.btnBirds{
    background-color: rgb(73, 167, 49);
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-left: 47%;
    margin-top: 20px;
    justify-content: center;
}